<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Maxux Wireless</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#091d36">
    </head>

    <body>
        <div class="container p-4 text-center">
            <h1 class="my-5">Maxux Wireless</h1>

            <div class="input-group mb-4">
                <span class="input-group-text d-block text-center" style="width: 100px">Network</span>
                <input type="text" class="form-control font-monospace text-bg-light" id="network" value="Maxux Network" readonly disabled>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text d-block text-center" style="width: 100px">Username</span>
                <!-- <input type="text" class="form-control font-monospace text-bg-light" id="username" value="{{ username }}" readonly disabled> -->
                <span class="form-control font-monospace text-bg-light text-start">{{ username }}</span>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text d-block text-center" style="width: 100px">Password</span>
                <span class="form-control font-monospace text-bg-light text-truncate text-start d-inline-block" id="password">{{ password }}</span>
                <button class="btn btn-primary" type="button" onclick="return copypassword(this);">Copy</button>
            </div>
        </div>
    </body>

    <script>
    function copypassword(sender) {
        let password = document.querySelector('#password').innerText;

        sender.classList.remove("btn-outline-secondary");

        navigator.clipboard.writeText(password).then(() => {
            sender.classList.add("btn-success");
            sender.innerText = "Copied";

        },() => {
            sender.classList.add("btn-danger");
            sender.innerText = "Failed";
        });

        return false;
    }
    </script>
</html>
